.page-wrapper {
  padding-top: 1px;
}
.page-wrapper .mini-module {
  max-width: 592px;
  margin: 32px auto 32px auto;
}
.mini-module {
  position: relative;
  margin-bottom: 30px;
}
.mini-module .empty-message {
  text-align: center;
}
.mini-module__hd {
  padding-bottom: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.mini-module__hd h1,
.mini-module__hd h4 {
  text-transform: uppercase;
  color: #2c2c2c;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.mini-module__bd-content p {
  color: #a5a5a5;
}
.mini-module__title-bar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}
.mini-module-light {
  position: relative;
  width: 100vw;
  margin-left: 0;
  margin-right: auto;
  padding-bottom: 30px;
}
.mini-module-light__hd {
  padding-bottom: 8px;
  padding-top: 10px;
  margin-bottom: 15px;
}
.mini-module-light__hd h1,
.mini-module-light__hd h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}
.mini-module-light__bd-content p {
  color: #a5a5a5;
}
.mini-module-light__title-bar {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}
